<div class="container">
  <div class="form">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <h1>Sign Up</h1>
      <input type="text" class="user" placeholder="Full Name" formControlName="fullname"/>
      <input type="email" class="user" placeholder="Email" formControlName="email" />
      <input type="password" class="pass" placeholder="Password" formControlName="password"/>
      <button class="login" type="submit">Signup</button>
      <small
        >Already have an account?<span
          style="color: var(--primary-color)"
          routerLink="/login"
        >
          Login</span
        ></small
      >
    </form>
  </div>
</div>
