<div class="container">
    <div class="quiz-questions" >
        <h2>{{ quiz.quiz_title }}</h2>
        <p class="desc">{{ quiz.description }}</p>
        <div *ngIf="currentQuestionIndex < questions?.length; else quizSection">
          <p>{{ questions[currentQuestionIndex].question }}</p>
          <ul>
            <li *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
              <label>
                <input type="radio" [name]="'q' + currentQuestionIndex" [(ngModel)]="answers[currentQuestionIndex]" [value]="option">
                {{getOptionLabel(i)}}. {{ option }}
              </label>
            </li>
          </ul>
          <div class="pagination" >
            <button *ngIf="currentQuestionIndex > 0" (click)="prevQuestion()">Previous Question</button>
            <button *ngIf="currentQuestionIndex < questions?.length - 1" (click)="nextQuestion()">Next Question</button>
            <button *ngIf="currentQuestionIndex === questions?.length - 1" (click)="submitQuiz()">Submit Quiz</button>
          </div>
        </div>
        <ng-template #quizSection>
          <div class="score">
            Your Score: {{ score }} / {{ questions?.length }}
          </div>
        </ng-template>
      </div>
      
      
</div>