.container{
    min-height: 50vh;
    margin-bottom: 30px;
} 

.container h2{
    text-align: center;
    color: var(--primary-color);
}

.container .desc{
    text-align: center;
    font-weight: 500;
    /* margin-bottom: 5px; */
}

.quiz-questions span{
    font-weight: bolder;
}

/* quiz-questions.component.css */

.quiz-questions {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .quiz-questions li{
    list-style: none;
    text-align: left;
    position: relative;
    left: -40px;
  }

  .ques{
    margin-top: 60px;
  }
  
  .ques textarea{
   border-radius: 5px;
   width: 100%;
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .score {
    
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
  }

  .retry{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }



  
  /* Animation */
  .fadeInOut {
    transition: opacity 0.3s;
  }
  