<div class="container">
  <div class="form">
    <form action="">
      <h1>Add a Question</h1>
      <textarea rows="10" cols="30" placeholder="Type Question"></textarea>
      <label>Options</label>
      <div class="options">
        <input type="text" class="user" placeholder="A" />
        <input type="text" class="user" placeholder="B" />
        <input type="text" class="user" placeholder="C" />
        <input type="text" class="user" placeholder="D" />
      </div>

      <label>Answer</label>
      <div>
        <input type="text" class="user answer" placeholder="Type Answer" />
      </div>

      <button class="login">Add Question</button>
    </form>
  </div>
</div>
